<li class="md:relative">
  {%- assign post = include.post -%}
  {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
  <span class="md:absolute md:top-px md:-translate-x-full md:-inset-s-4 uppercase text-xs text-gray-500 leading-4">{{ post.date | date: date_format }}</span>
  <h3 class="mb-2 md:mb-3 xl:mb-4 font-semibold leading-4">
    <a href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  {%- if site.show_excerpts -%}
    {{ post.excerpt }}
  {%- endif -%}
</li>