<header role="banner" class="uppercase text-sm">
  <div class="mt-2 flex items-baseline justify-between">
    <a class="font-bold" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="flex items-center justify-between">
      {%- for item in site.data.navigation -%}
        <a href="{{ item.link }}"
          {% if item.link == page.url %}
            class="mr-4 font-bold"
          {% else %}
            class="mr-4"
          {% endif %}
        >{{ item.name | escape }}</a>
      {%- endfor -%}
    </nav>
  </div>
</header>